/* navbar starts here */
* {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
    box-sizing: border-box !important;
}
.animate__animated.animate__fadeInDownBig {
    --animate-duration: 2s;
}
.main-navbar {
    width: 100%;
    position: fixed;
    z-index: 10;
}
.nav-top {
    background: #765200;
}
.nav-top .row .col .fa-brands {
    font-size: 1.5rem;
}
.Nav-bar {
    background: linear-gradient(90.62deg, #f2eeef 0%, #110f38 100%);
}
.Nav-bar .rupani-acdmey img,
.Nav-bar .rupani-school img {
    width: 68.58px;
}
.nav-top .col a i {
    padding: 1px 1px;
}
.nav-top .col a:hover i {
    color: #7f1416;
    background-color: #ffffff;
    padding: 1px 1px;
    /* border-radius: 50%; */
}
/* new nav  */
a {
    text-decoration: none;
}
li {
    list-style: none;
}
/* NAVBAR STYLING STARTS */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* background-color: teal; */
    color: #fff;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
}
/* NAVBAR MENU */
.Nav-bar .col-8 {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.Nav-bar .col-8 ul {
    margin-bottom: 0% !important;
}
.menu {
    display: flex;
    gap: 1em;
    font-size: 15px;
}
.menu .nav-item:hover {
    box-shadow: inset 0 -2px 0 rgb(219, 15, 15);
    color: rgb(219, 15, 15) !important;
    padding: 20px 8px;
}
.menu .btn :hover {
    /* box-shadow: inset 0 -2px 0 rgb(219, 15, 15); */
    color: rgb(219, 15, 15) !important;
    padding: 20px 8px;
}
.menu .nav-item:hover a {
    color: rgb(219, 15, 15) !important;
}
.menu .nav-item {
    padding: 20px 8px;
    transition: 0.3s ease;
}
li.dropdown {
    padding: 20px 5px;
}
li.dropdown:hover {
    box-shadow: inset 0 -2px 0 rgb(219, 15, 15);
    padding: 20px 5px;
}
.menu .btn {
    padding: 20px 8px;
    transition: 0.3s ease;
    
}
.menu .btn a {
    padding: 8px 8px;
    transition: 0.3s ease;
    background-color: #7f1416;
    border-radius: 29px;
}
.menu .btn:hover a {
    padding: 8px 8px;
    background-color: #ecf3f3;
}
.menu .dropdown-content li {
    padding: 0px 8px;
}

.dropdown-menu {
    background: linear-gradient(90.62deg, #ebd7dc 0%, #110f38 100%);
}


/* DROPDOWN MENU */

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type="checkbox"] {
    display: none;
}
/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    color: #ffffff;
}
/* Style The Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 65px;
    background: linear-gradient(
        180deg,
        rgba(12, 10, 54, 0.45) 0%,
        rgba(121, 118, 173, 0.35) 100%
    ) !important;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #ffffff !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: transparent;
    color: #ffffff !important;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    color: #ffffff !important;
}
.dropdown:hover .dropdown-content .dropdown-item {
    display: block;
    color: #ffffff !important;
}
.nav-bar .dropdown-content a:hover {
    color: #ffffff !important;
}

/* APPLYING MEDIA QUERIES */

@media (max-width: 768px) {
    /* ul.nav-links {
        position: relative;
        left: 163px;
    } */
    .Nav-bar .rupani-acdmey img,
    .Nav-bar .rupani-school img {
        width: 40px;
    }
    .menu {
        display: none;
        position: absolute;
        background: linear-gradient(90.62deg, #f2eeef 0%, #110f38 100%);
        right: 0;
        /* left: -201px; */
        text-align: center;
        padding: 16px 0;
        width: 100%;
    }
    .menu li:hover {
        display: inline-block;
        background-color: #ecf3f3;
        transition: 0.3s ease;
    }
    .menu li + li {
        margin-top: 12px;
    }
    input[type="checkbox"]:checked ~ .menu {
        display: block;
    }
    .hamburger {
        display: block;
    }
}
/* new nav  */
/* media quries of navbavr */
@media screen and (max-width: 1025px) {
    .main-navbar .nav-top {
        font-size: 12px !important;
    }
    .main-navbar .nav-top .col i {
        font-size: 12px !important;
    }
    .Nav-bar .col-8 .menu li {
        font-size: 12px;
    }
}
@media screen and (max-width: 992px) {
    .Nav-bar .col-8 ul li a {
        font-size: 9px;
    }
}
@media screen and (max-width: 769px) {
    .main-navbar {
        margin-top: -56px !important;
    }
    .main-navbar .nav-top .row {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        align-content: center !important;
    }
    .main-navbar .nav-top .row .col {
        display: flex !important;
        justify-content: center !important;
    }
}
@media screen and (max-width: 426px) {
    ul.nav-links {
        left: 67px;
        top: 12px;
    }
    .main-navbar {
        margin-top: -95px !important;
    }
}
/* navbar ends here */

/* home header section starts here */
.home-header .carousel-inner .carousel-item img {
    margin-top: 135px;
}
.home-header .left {
    position: relative;
    left: -55px;
}
.home-header .right {
    position: relative;
    right: -55px;
}
.home-header .fa-angle-left,
.home-header .fa-angle-right {
    font-size: 4.5rem;
    font-weight: 900 !important;
    color: #7f1416;
}
.home-header .carousel-caption {
    position: absolute;
    right: 5% !important;
    bottom: 13rem !important;
    left: 43% !important;
    padding-top: unset !important;
    padding-bottom: unset !important;
    padding: 30px 28px !important;
    color: #fff;
    width: 600px !important;
    background: linear-gradient(
        180deg,
        rgba(17, 15, 56, 0.45) 0%,
        rgba(17, 15, 56, 0.35) 100%
    ) !important;
    font-weight: normal;
    text-align: justify !important;
}
.home-header .carousel-caption h3 {
    font-style: normal;
    font-weight: 700;
}
.home-header .carousel-caption a {
    background: #7f1416;
    border-radius: 14px;
    text-transform: uppercase;
    border: none;
    padding: 7px 18px;
    font-size: 14px !important;
    transition: 0.3s;
}
.home-header .carousel-caption a:hover {
    transform: translateX(2px);
}
.home-header .carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #7f1416 !important;
    width: 100px !important;
    height: 100px;
    text-indent: 0%;
    border: 6px solid #7f1416 !important;
    opacity: unset !important;
    color: #ffffff !important;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    letter-spacing: 0.005em;
    border-radius: 50% !important;
    margin: -60px 25px !important;
    outline: 7px solid transparent;
}

.home-header .carousel-dark .carousel-indicators button img {
    width: 50%;
}
.home-header .carousel-dark .carousel-indicators [data-bs-target].active {
    width: 93x !important;
    height: 93px;
    outline: 7px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.3) !important;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

.home-header .carousel-indicators {
    background: rgba(2, 2, 2, 0.6);
    margin-right: unset !important;
    margin-bottom: unset !important;
    margin-left: unset !important;
    list-style: none;
    height: 6rem;
}
.home-header .carousel-dark .carousel-indicators [data-bs-target]:hover {
    background-color: transparent !important;
}
/* media quries of navbavr */
@media screen and (max-width: 1131px) {
    .home-header .carousel-caption {
        bottom: 10rem !important;
        left: 33% !important;
    }
}
@media screen and (max-width: 1025px) {
    .home-header .carousel-inner .carousel-item img {
        margin-top: 90px !important;
    }
    .home-header .carousel-caption {
        bottom: 10rem !important;
        left: 30% !important;
        padding: 10px 10px !important;
        width: 602px !important;
        font-size: 13px !important;
    }
    .home-header .carousel-caption h3 {
        font-size: 20px !important;
    }
    .home-header .carousel-caption a {
        /* padding: 7px 18px; */
        font-size: 12px !important;
    }
    .home-header .carousel-caption a:hover {
        transform: translateX(2px);
    }
    .home-header .carousel-dark .carousel-indicators [data-bs-target] {
        margin: -60px 25px !important;
        width: 90px !important;
        height: 90px;
    }
    .home-header .carousel-dark .carousel-indicators [data-bs-target].active {
        width: 80x !important;
        height: 80px;
    }
    .home-header .carousel-indicators {
        height: 4rem;
    }
}
@media screen and (max-width: 881px) {
    .home-header .carousel-caption {
        bottom: 10rem !important;
        left: 8% !important;
        padding: 08px 08px !important;
        width: 702px !important;
        font-size: 13px !important;
    }
    .home-header .carousel-caption h3 {
        font-size: 20px !important;
    }
    .home-header .carousel-caption a {
        /* padding: 7px 18px; */
        font-size: 12px !important;
    }
    .home-header .carousel-caption a:hover {
        transform: translateX(2px);
    }
}
@media (max-width: 793px) {
    .home-header .carousel-caption {
        bottom: 7.5rem !important;
        left: 3% !important;
    }
    .home-header .carousel-control-next,
    .home-header .carousel-control-prev {
        width: 19% !important;
    }
    .home-header .fa-angle-left,
    .home-header .fa-angle-right {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 769px) {
    .home-header .carousel-inner .carousel-item img {
        margin-top: 50px !important;
    }
    .home-header {
        margin-top: 57px;
    }
    .home-header .carousel-caption {
        bottom: 9rem !important;
        left: 5% !important;
    }
    .home-header .carousel-control-next,
    .home-header .carousel-control-prev {
        width: 29% !important;
    }
}
@media screen and (max-width: 427px) {
    /* .home-header {
        margin-top: 95px;
    }
    .home-header .carousel-inner .carousel-item img {
        margin-top: 55px !important;
    } */
    .home-header {
        display: none;
    }
}
/* Header section ends here */

apply now section starts here .apply-now {
    background: #fff1d2;
    padding: 57px 0;
}
.apply-now .row {
    background: #110f38;
    box-shadow: inset -4px -4px 6px rgba(0, 0, 0, 0.3),
        inset 4px 4px 6px rgba(0, 0, 0, 0.3);
}
.apply-now .row .apply-now-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.apply-now .row .apply-now-content h2 {
    font-weight: bold;
    font-size: 30px;
    /* line-height: 41px; */
    color: #ffffff;
}
.apply-now .row .apply-now-content .btn {
    background: #7f1416;
    border-radius: 50px;
    color: #ffffff;
    border: 3px solid transparent;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.015em;
    transition: 0.3s;
}
.apply-now .row .apply-now-content .btn:hover {
    border: 3px solid #7f1416;
    background: transparent;
    color: #7f1416;
}
.apply-now .row {
    border-radius: 13px !important;
}
.apply-now .row > * {
    --bs-gutter-x: 1.5rem !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.apply-now .row:hover {
    box-shadow: inset 2px 2px 5px 2px #000000;
}
@media screen and (max-width: 769px) {
    /* .apply-now {
        margin-top: 110px !important;
    } */
    .apply-now .row .apply-now-content h2 {
        font-size: 20px !important;
        text-align: center;
    }
    .apply-now .row .apply-now-content .btn {
        font-size: 10px !important;
    }
}
@media screen and (max-width: 426px) {
    .apply-now {
        margin-top: 93px !important;
    }
    .apply-now .row .apply-now-content h2 {
        font-size: 12px !important;
        text-align: center;
    }
    .apply-now .row .apply-now-content .btn {
        font-size: 5px !important;
    }
}

/* curosel-mission starts here */
.mission {
    margin-bottom: 150px;
}

.mission .carousel-item h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 152.68%;
    letter-spacing: 0.015em;
    color: #110f38;
}
.mission .carousel-item p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.015em;
    color: #110f38;
    width: 90%;
    text-align: justify;
}
.mission .carousel-item a {
    background: #7f1416;
    border-radius: 50px;
    color: #ffffff;
    border: 3px solid transparent;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.015em;
    transition: 0.3s;
}
.mission .carousel-item .col .btn:hover {
    border: 3px solid #7f1416;
    background: transparent;
    color: #7f1416;
}
.mission .carousel-item img {
    width: 100%;
    height: auto;
    margin-top: 25px;
}
.mission .carousel-indicators {
    bottom: -120px !important;
    margin-bottom: 0 !important;
}
.mission .carousel-indicators [data-bs-target] {
    text-indent: 0 !important;
    background-color: #7f1416 !important;
    /* height: auto !important; */
    color: #ffffff;
    margin-right: 22px !important;
    border-radius: 50%;
    padding: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission .carousel-control-next,
.mission .carousel-control-prev {
    /* position: ; */
    top: 650px !important;
    /* left: 0px !important; */
    width: 80% !important;
}
.mission .carousel-control-next {
    right: 22px !important;
}
.mission .carousel-indicators [data-bs-target] i {
    font-size: 1.5rem;
}

.mission .carousel-indicators [data-bs-target] .active i {
    font-size: 3rem !important;
}
.mission button .fa-arrow-left-long,
.mission button .fa-arrow-right-long {
    color: #7f1416;
    font-size: 1.5rem;
}

@media screen and (max-width: 1192px) {
    .mission .carousel-control-next,
    .mission .carousel-control-prev {
        top: 516px !important;
    }
}
@media screen and (max-width: 1025px) {
    .mission .carousel-control-next,
    .mission .carousel-control-prev {
        top: 516px !important;
    }
    .mission .carousel-item h2 {
        font-size: 30px;
    }
    .mission .carousel-item p {
        font-size: 15px;
    }
    .mission .carousel-item a {
        font-size: 10px;
    }
    .mission .carousel-item img {
        width: 90%;
    }
}
@media screen and (max-width: 992px) {
    .mission .carousel-control-next,
    .mission .carousel-control-prev {
        top: 403px !important;
    }
}
@media screen and (max-width: 769px) {
    .mission .carousel-control-next,
    .mission .carousel-control-prev {
        top: 422px !important;
    }
}
@media screen and (max-width: 767px) {
    .mission .carousel-control-next,
    .mission .carousel-control-prev {
        top: 347px !important;
    }
}
@media screen and (max-width: 445px) {
    .mission .carousel-control-next,
    .mission .carousel-control-prev {
        display: none;
    }
}
@media screen and (max-width: 425px) {
    .mission-img {
        display: none;
    }
}
/* curosel-mission */

/* campus life section starts here */
.campus-life {
    background: #fff1d2;
}
.campus-life .col-4 {
    display: flex;
    justify-content: center;
}
.campus-life .col-lg-5 h2 {
    font-weight: bold;
    font-size: 34px;
    line-height: 46px;
    color: #110f38;
    border-right: 3px solid #110f38;
    border-left: 3px solid #110f38;
    width: fit-content;
    /* text-align: center;   */
}
.campus-life .card {
    padding: 12px 12px !important;
    background: #0d0a4f !important;
    width: 90%;
    position: unset !important;
}
.campus-life .card-one {
    transform: rotate(-7.64deg);
    transition: 0.1 s;
}
.campus-life .card-one:hover {
    transform: rotate(0deg);
}
.campus-life .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
}

.campus-life .card-two {
    transform: translateY(-20px);
}
.campus-life .card-three {
    transform: rotate(7.64deg);
    transition: 0.1 s;
}
.campus-life .card-three:hover {
    transform: rotate(0deg);
}
.campus-life .col .card img {
    /* padding: 9px 9px; */
    background: #0d0a4f;
}
.campus-life .col .card .card-body h5 {
    color: #ffffff;
    text-align: center;
}
.campus-life .row .campus-life-content h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #ffffff;
}
.campus-life .row .btn {
    background: #7f1416;
    border-radius: 50px;
    color: #ffffff;
    border: 3px solid transparent;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.015em;
    transition: 0.3s;
}
.campus-life .row .btn:hover {
    border: 3px solid #7f1416;
    background: transparent;
    color: #7f1416;
}
@media screen and (max-width: 769px) {
    .campus-life .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .campus-life .cards .col {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .campus-life .card {
        width: 70%;
        margin-bottom: 15px;
    }
    .campus-life .card-one,
    .campus-life .card-two,
    .campus-life .card-three {
        transform: unset !important;
    }
    .campus-life a {
        width: 100%;
    }
}
/* campus life section ends here */
/* approch section starts here */
/* .approch .col-6 */
.approch .col-6 h2 {
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color: #110f38;
    border-right: 3px solid #110f38;
    border-left: 3px solid #110f38;
    width: fit-content;
    text-align: center;
    padding: 0% 20px;
}
.approch {
    background: #f9b720;
}
.approch .col img {
    width: 25%;
}
.approch .col h3 {
    /* width: 50%; */
    text-align: center;
    font-size: 24px;
}
@media screen and (max-width: 769px) {
    .approch .col-6 {
        width: 100% !important;
        display: flex;
        justify-content: center;
    }
    .approch .col-6 h2 {
        font-size: 16px !important;
    }
    .approch .upsidedown {
        display: flex !important;
        flex-direction: column-reverse !important;
    }
    .approch .col-8,
    .approch .col-4 {
        width: 100% !important;
    }
    .approch .col-8 p {
        font-size: 12px;
    }
    .approch .col-4 {
        display: flex;
        justify-content: center;
    }
    .approch .col-4 img {
        width: 50% !important;
        height: auto !important;
    }
}
@media screen and (max-width: 769px) {
    .approch .col-6 h2 {
        font-size: 14px !important;
        list-style: 20px;
    }
}
@media screen and (max-width: 426px) {
    .approch .col-6 h2 {
        font-size: 12px !important;
        list-style: 20px;
    }
}
@media screen and (max-width: 321px) {
    .approch .col-6 h2 {
        font-size: 12px !important;
        list-style: 20px;
    }
}
/* approch section ends here */
/* gallery starts here */
.gallery {
    overflow-x: hidden;
    /* background: #fed5c8; */
}
.gallery .col-5 h2 {
    font-weight: bold;
    font-size: 34px;
    line-height: 46px;
    color: #110f38;
    border-right: 3px solid #110f38;
    border-left: 3px solid #110f38;
    width: fit-content;
}
/* h1 {
     margin:150px auto 30px auto;
      text-align:center;
       color:#fff;
    }
    */
.hi-slide {
    position: relative;
    width: 754px;
    height: 292px;
    margin: 0px auto 0;
}

.hi-slide .hi-next,
.hi-slide .hi-prev {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    border-radius: 50px;

    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    color: black;
    transition: all 0.6s;
    font-size: 32px;
    font-weight: bold;
}
.hi-slide .hi-next:hover,
.hi-slide .hi-prev:hover {
    opacity: 1;
    background-color: #fff;
}

.hi-slide .hi-prev {
    left: -60px;
}

.hi-slide .hi-prev::before {
    content: "<";
    color: #7f1416;
}
.hi-slide .hi-next {
    right: -93px;
}
.hi-slide .hi-next::before {
    content: ">";
    color: #7f1416;
}

.hi-slide > ul {
    list-style: none;
    position: relative;
    width: 754px;
    /* height: 292px; */
    margin: 0;
    padding: 0;
}

.hi-slide > ul > li {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left: 377px;
    top: 146px;
    width: 340px;
    height: 0;
    margin: 0;
    padding: 0;
    border: 3px solid #fff;
    background-color: rgb(124, 121, 121);
    cursor: pointer;
}

.hi-slide > ul > li > img {
    width: 100%;
    height: 100%;
    /* background-position: center; */
}
@media screen and (max-width: 769px) {
    .gallery {
        display: none !important;
    }
}
/* gallery ends here */
/* news header starts here */
.news-event {
    background: #fff1d2;
    padding: 3rem !important;
}
.news .row h2,
.events .row h2 {
    font-weight: bold;
    font-size: 34px;
    line-height: 46px;
    color: #110f38;
    border-right: 3px solid #110f38;
    border-left: 3px solid #110f38;
    width: fit-content;
    padding: 0 10px;
}
.news-event .news {
    width: 70%;
}
.news-event .events {
    width: 30%;
    margin-left: 30px;
}

.news-event .card {
    display: flex;
    flex-direction: row !important;
    height: auto;
    box-sizing: border-box;
    background-color: #fff1d2;
    box-shadow: 2px 2px 5px -1px rgba(55, 55, 55, 0.28);
    margin-bottom: 15px;
}
.news-event .card img {
    width: 43%;
    height: 50%;
}
.news-event .card .card-title {
    font-size: 18px;
}
.news-event .card .card-text {
    font-size: 15px;
}
.news-event .col .btn {
    background-color: #7f1416;
    color: #ffffff;
    width: 40%;
    border-radius: 50px;
}
.news-event .btn-section {
    display: flex;
    justify-content: center;
}
.news-event .btn-section .btn:hover {
    border: 3px solid #7f1416;
    background: transparent;
    color: #7f1416;
}
.card-body {
    padding: 10px 10px !important;
}
@media screen and (max-width: 1200px) {
    .news-event .card .card-text {
        font-size: 12px;
    }
}
@media screen and (max-width: 992px) {
    .news-event .card .card-title {
        font-size: 10px;
    }
    .news-event .card .card-text {
        font-size: 9px;
    }
}

@media screen and (max-width: 769px) {
    .news-event {
        padding: 1rem !important;
    }
    .news-event .container .news,
    .news-event .container .events {
        width: 100% !important;
    }
    .news-event .container {
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-between;
    }
    .news-event .events {
        margin-top: 25px;
        margin-left: 0px;
    }
    .news-event .card .card-title {
        font-size: 22px;
        font-weight: 700;
    }
    .news-event .card .card-text {
        font-size: 18px;
    }
}
@media screen and (max-width: 376px) {
    .news-event {
        padding: 1rem !important;
    }
    .news-event .col .btn {
        width: 100%;
    }
    .news-event .events .card-title {
        font-size: 15px !important;
    }
    .news-event .card .card-text {
        font-size: 8px;
    }
}
/* news header ends here */

/* footer */
.footer {
    margin-top: 50px;
    background: url(./Assests/footer.png);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}
.footer-top .col-7 h2 {
    /* padding-bottom: 25px; */
    position: relative;
    bottom: 30px;
    left: 20px;
    font-weight: 700;
    font-size: 36px;
}
.footer-top .col a {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 147.69px; */
    height: 34px;
    background: #7f1416;
    border-radius: 50px;
}
.footer-top .col-7,
.footer-top .col {
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
.footer .footer-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30vh;
    margin-top: 40px;
}
.footer .footer-main .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #ffffff;
}

.footer .footer-main .col img {
    width: 30%;
}
.footer .footer-main .col ul {
    list-style: none;
    /* width: 30%; */
}
.footer .footer-main .col h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}
.footer .footer-main .col ul li a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
}
.footer .footer-main .col ul li a img {
    margin-left: 50px;
    width: 28px;
}
.footer .col .btn {
    background-color: #7f1416;
    color: #ffffff;
    border: 3px solid transparent;
    border-radius: 50px;
}
.footer .col .btn:hover {
    border: 3px solid #7f1416;
    background: transparent;
    color: #7f1416;
}

@media screen and (max-width: 1025px) {
    .footer-top .col-7 h2 {
        position: relative;
        bottom: 27px;
        font-weight: 700;
        font-size: 25px;
        left: 50px;
    }
    .footer .footer-main .col ul h3 {
        font-size: 15px !important;
    }
    .footer .footer-main .col ul li a {
        font-size: 10px !important;
    }
    .footer .footer-main .col ul li a img {
        margin-left: 40px;
        width: 24px;
    }
}
@media screen and (max-width: 769px) {
    .footer-top .col-7 h2 {
        font-size: 19px;
    }
    .footer .footer-main .col img {
        width: 50%;
    }
    .footer .footer-main {
        text-align: center !important;
    }
}
@media screen and (max-width: 426px) {
    .footer {
        background-color: #48466a;
        margin-top: 0 !important;
        color: #ffffff;
    }
    .footer-top {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }
    .footer-top .col-7 h2 {
        margin-top: 20px;
        padding-bottom: 0px !important;
        position: unset !important;
        bottom: unset !important;
        left: unset !important;
    }
    .footer-top .col a {
        margin-top: 10px;
    }
    .footer-top .col-7,
    .footer-top .col {
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
        text-align: center;
    }
    .footer-main {
        display: flex !important;
        flex-direction: column !important;
        height: auto !important;
    }
    .footer .footer-main .rupani-logo img {
        width: 25%;
        padding: 25px 0px;
    }
    .footer .footer-main .col ul li a img {
        margin-left: 0px;
    }
}
/* footer */

/* about us page */
.about-header {
    background: url(./Assests/about-pic.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.about-header .about-content {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-header .about-content h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    letter-spacing: 0.04em;

    color: #f8f8f8;
}

/* principal message */
.principal-message{
    background: url(./Assests/principal-back.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.principal-message marquee {
    background: rgba(17, 15, 56, 0.8);
    border-radius: 0px 35px 35px 35px;
    color: #fff;
    padding: 10px 25px;
    list-style: 0px !important;
}

@media screen and (max-width: 1025px) {
    .about-header {
        height: 50vh;
    }
    .about-header .about-content {
        height: 30vh;
    }
}
@media screen and (max-width: 769px) {
    .about-header {
        height: 30vh;
        margin-top: 57px;
    }
    .about-header .about-content {
        height: 20vh;
    }
    .about-header .about-content h2 {
        font-size: 33px;
    }
}
@media screen and (max-width: 427px) {
    .about-header {
        margin-top: 95px;
    }
}
@media screen and (max-width: 426px) {
    .about-header {
        height: 20vh;
    }
    .about-header .about-content {
        height: 15vh;
    }
    .about-header .about-content {
        font-size: 27px;
    }
}

/* principal message */
